.burger {
	position: fixed;
	top: 10px;
	width: 30px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	cursor: pointer;
	z-index: 100;
	transition: left .4s;

}

.burger span {
	display: block;
	height: 6px;
	background: #5c5c5c;
	transition: transform .3s;
	transform-origin: top top;
	transform-origin: center;
	user-select: none;
	border-radius: 3px;
}

.burger.active {
	justify-content: center;
}

.burger.active span {
	width: 39px;
}

.burger.active span:nth-child(1) {
	transform: translateY(6px) translateX(-6px) rotate(45deg);
}

.burger.active span:nth-child(2) {
	opacity: 0;
	transition: opacity .2s;
}

.burger.active span:nth-child(3) {
	transform: translateY(-6px) translateX(-6px) rotate(-45deg);
}