.select {
	font: inherit;
	margin-right: 20px;
	color: #6c757d;
	border: 1px solid #6c757d;
	padding: .4rem 1rem;
	border-radius: 5px;
	cursor: pointer;
}

.select option {
	cursor: pointer;
}

.select option:disabled {
	background: #e6e6e6;
	color: #00496b;
}