.modal-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 9999;
	background: rgba(0, 0, 0, .2);
}

.modal-window {
	position: absolute;
	width: 600px;
	padding: 30px 20px 20px;
	background: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	box-shadow: 3px 3px 10px rgba(19, 55, 77, .5);
	transition: opacity .2s;
}

.modal-window .close {
	position: absolute;
	top: -10px;
	right: 10px;
	height: 40px;
	font-size: 40px;
	padding: 0;
	font-weight: bold;
	cursor: pointer;
	color: #3e648c;
	user-select: none;
}

.modal-window .close:hover {
	color: #28425e;
	text-shadow: 2px 2px 4px rgba(40, 66, 94, 0.5);
}

.modal-window h3 {
	text-align: center;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #3e648c;
}

.modal-window h4 {
	margin-bottom: 10px;
}

.modal-window select {
	width: 100%;
}

.modal-window select:not(:last-child) {
	margin-bottom: 10px;
}