.intervals {
	margin-bottom: 20px;
}

.intervalsOptionsButtons {
	display: flex;
	justify-content: space-between;
}

.listOfIntervals {
	display: flex;

}

.listOfIntervals>div {
	flex-basis: 200px;
	flex-shrink: 0;
}

.intervals span.check {
	position: absolute;
	top: -1px;
	left: 7px;
	font-size: 1.5rem;
	color: #5285bb;
	font-weight: bold;
	transition: .2s;
}

.intervals button:hover span.check {
	color: white;
}

@media (max-width: 815px) {
	.intervalsOptionsButtons {
		justify-content: flex-start;
	}

	.listOfIntervals {
		flex-wrap: wrap;
	}
}

@media (max-width: 600px) {
	.listOfIntervals>div {
		flex-basis: 180px;
	}

}